<tr>
    <td colspan="10" class="empty-state">
        <div class="empty-state-icon">
            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"/>
            </svg>
        </div>
        <p class="text-gray-500 dark:text-gray-400 mb-6">Get started by creating your first trading zone</p>
        <button onclick="addNewZoneRow()" class="create-zone-button">
            <svg class="w-5 h-5 mr-2 inline-block" fill="none" stroke="currentColor"
                 viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 4v16m8-8H4"/>
            </svg>
            Create Zone (Press T)
        </button>
    </td>
</tr>